body {
    background-color:#2a2a2a;  
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.top {
    position: fixed;
    top: 3vh;
}

.duckduckgo {
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: 10vh;
}



div.search_duckduckgo {
    margin-top: 8vh;
    color: white;
    border-radius: 5vh;
    border: 2px solid #202020;
    background-color: #202020;
    
}

h2 {
    margin-left: 3vh;
    margin-right: 3vh;
}

p {
    margin-left: 3vh;
    margin-right: 3vh;
}

a {
    margin-left: 3vh;
    margin-right: 3vh;
}

.search {
    height: 5vh;
    width: 40vh;
    border: 2px solid black;
    border-radius: 5vh;
    font-size: large;
    margin-left: 3vh;
    position: absolute;
}

.home {
    height: 5vh;
    width: 5vh;
    cursor: pointer;
    background-color: #2a2a2a;
    border: 0;
    font-size: 5vh;
}