.hide {
    visibility: hidden;
    position: fixed;
    margin-top: 1vh;
}

.show {
    visibility: visible;
    position: fixed;
    bottom: 1vh;
    background-color: #202020;
    border-radius: 5vh;
    height: 50vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.cookiePopup {
    margin-left: 3vh;
    margin-right: 3vh;
    cursor: pointer;
}

button.cookiePopup {
    background-color: #2a2a2a;
    border: 2px solid #202020;
    border-radius: 5vh;
    color: white;
    height: 10vh;
    width: 30vh;
    font-size: large;
}